html {
    /* box-sizing: border-box; */
    background-color: #9aa5b0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-wrap {
    margin-top: 30px;
}

#wrap-left {
    margin-left: 30px;
    float: left;
    width: 50%;
}

#wrap-right {
    margin-left: 50%;
    width: 50%;
}

#column-left {
    clear: both;
    vertical-align: top;
    display: inline-block;
}

#column-right {
    margin-left: 50px;
    clear: both;
    vertical-align: top;
    display: inline-block;
}

#clothing-type p{
    margin-left: 30px;
}

.square {
    padding: 0;
    margin: 0;
    background-color: white;
}

.square {
    width: 120px;
    height: 120px;
    border: 3px solid white;
    /* fill: aliceblue; */
    display: inline-block;
    background-size:100% 100%;
    background-repeat:no-repead;
    z-index: 99;
}


.svg-span {
    padding: 0;
    margin: -4px;
    display: block;
    line-height: 0;
}

.shoes {
    z-index: 3;
}

.cloth {
    z-index: 2;
    /* display: inherit; */
    /* position: absolute; */
}

.bucky {
    /* z-index: 1; */
    position: absolute;
}

.ab-class {
    position: absolute;
}

#car-img-2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#btn-done {
    width: 246px;
    height: 120px;
    background: url("./../img/home/finish.png");
    border: 3px solid white;
    background-size:100% 100%;
    background-repeat:no-repead;
}

#final-evalu {
    top: 10px;
    left: 30px;
}

#evalu-back {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1024px;
}

#final-evalu div {
    position: absolute;
    font-size: 24px;
    left: 320px;
    top: 200px;
}

#evalu-logo {
    position: absolute;
    width: 300px;
    left: 650px;
    top: 300px;
}


/**CSS Animation - Color to Black and White Photo
 * The first commented line is your dabblet’s title
 */

 @keyframes goGray{
	0%{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	}
	99%{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	}
}

@keyframes unGray{
	100%{filter: grayscale(0%);}
	0%{filter: grayscale(100%);}
}
img {
	width: 100%;
}
img.desaturate{animation: goGray 7s 1;}

img.saturate{animation: unGray 7s 1;}

img.gray{filter: grayscale(100%);}

img.ungray{filter: grayscale(0%);}