html {
    box-sizing: border-box;
    background-size:100% 100%;
    background-repeat:no-repead;
}


#main-wrap {
    margin-top: 30px;
}

#wrap-left {
    margin-left: 30px;
    float: left;
    width: 50%;
}

#wrap-right {
    margin-left: 50%;
    width: 50%;
}

#column-left {
    clear: both;
    vertical-align: top;
    display: inline-block;
}

#column-right {
    margin-left: 50px;
    clear: both;
    vertical-align: top;
    display: inline-block;
}

#clothing-type p{
    margin-left: 30px;
}

.square {
    padding: 0;
    margin: 0;
    background-color: white;
}

.square {
    width: 120px;
    height: 120px;
    border: 3px solid white;
    /* fill: aliceblue; */
    display: inline-block;
    background-size:100% 100%;
    background-repeat:no-repead;
    z-index: 99;
}


.svg-span {
    padding: 0;
    margin: -4px;
    display: block;
    line-height: 0;
}

.shoes {
    z-index: 3;
}

.cloth {
    z-index: 2;
    /* display: inherit; */
    /* position: absolute; */
}

.bucky {
    /* z-index: 1; */
    position: absolute;
}

.ab-class {
    position: absolute;
}